# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Account and its owner/out/
/Problems/Account and its owner/out/production/classes/
/Problems/Army/out/
/Problems/Army/out/production/classes/
/Problems/Simulating a clock/out/
/Problems/Simulating a clock/out/production/classes/
/Problems/The secret enumeration/out/
/Problems/The secret enumeration/out/production/classes/